/*Frontend css*/
*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	box-sizing: border-box;
}
header,footer,section,article,figure,figcaption,aside,nav{
	display: block;
}
/*a{

}
p{

}
h1{

}
h2{
	
}
h3{
	
}
h4{
	
}
h5{
	
}
h6{
	
}
span{

}*/
img{
	max-width: 100%;
}
@font-face {
    font-family: 'Run Wild - Demo';
    src: url('../fonts/RunWild.eot');
    src: url('../fonts/RunWild.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RunWild.woff2') format('woff2'),
        url('../fonts/RunWild.woff') format('woff'),
        url('../fonts/RunWild.ttf') format('truetype'),
        url('../fonts/RunWild.svg#RunWild') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clearing{
	clear: both;
}

#mainDiv{
    position: relative;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}



#welcomePageMainHeadingDiv{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 218px !important;
    right: 100%;
    background-color: #06094d4d;
    animation-name: welcomeHeadingDiv;
    animation-fill-mode: forwards;
    animation-duration: 3s;

}

@keyframes welcomeHeadingDiv{
    0%{top: 0px;right: 100%;}
    100%{top: 0px;right: 0%;}

}

.welcomePageMainHeadingleft{
    font-family: 'Run Wild - Demo';
    color: transparent;
    font-weight: 900;
    text-align: center;
    padding: 20px 10px;
    font-size: 3vw !important;
    background: linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
    -webkit-background: -webkit-linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
    position: absolute;
    display: inline-block;
    top: 218px !important;
    left: 100%;
    height: 100px;
    /*width: 50%;*/
    /*height: 50px;
    width: 50px;*/
    /*border: 1px solid red;*/
    /*border-radius: 50% !important;*/
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: welcomeHeadingLeft;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;

}

@keyframes welcomeHeadingLeft{
    0%{left: 100%;/*border-radius: 50%;height: 50px;width: 50px;*/}
    /*10%{top:130px;left: 90%;border-radius: 50%;height: 50px;width: 50px;}
    20%{top:250px;left: 80%;border-radius: 50%;height: 50px;width: 50px;}
    30%{top:150px;left: 70%;border-radius: 50%;height: 50px;width: 50px;}
    40%{top:250px;left: 60%;border-radius: 50%;height: 50px;width: 50px;}
    50%{top:180px;left: 50%;border-radius: 50%;height: 50px;width: 50px;}
    60%{top:250px;left: 40%;border-radius: 50%;height: 50px;width: 50px;}
    70%{top:220px;left: 30%;border-radius: 50%;height: 50px;width: 50px;}
    80%{top:250px;left: 20%;border-radius: 50%;height: 50px;width: 50px;}
    90%{left: 10%;border-radius: 25%;height: 100px;width: 50%;}*/
    100%{left: 39.5%;}
}
.welcomePageMainHeadingRight{
    font-family: 'Merriweather', serif;
    color: transparent;
    font-weight: 900;
    text-align: left;
    padding: 20px 10px;
    font-size: 3vw !important;
    background: linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
    -webkit-background: -webkit-linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
    position: absolute;
    display: block;
    top: 190px !important;
    left: 100%;
    min-height: 100px;
    width: 35px;
    word-wrap: break-word;

    /*width: 50%;*/
    /*height: 50px;
    width: 50px;*/
    /*border: 1px solid red;*/
    /*border-radius: 50% !important;*/
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: welcomeHeadingRight;
    animation-fill-mode: forwards;
    animation-delay: 8s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    font-size: 24px !important;

}

@keyframes welcomeHeadingRight{
    0%{left: 100%;/*border-radius: 50%;height: 50px;width: 50px;*/}
    /*10%{top:130px;left: 90%;border-radius: 50%;height: 50px;width: 50px;}
    20%{top:250px;left: 80%;border-radius: 50%;height: 50px;width: 50px;}
    30%{top:150px;left: 70%;border-radius: 50%;height: 50px;width: 50px;}
    40%{top:250px;left: 60%;border-radius: 50%;height: 50px;width: 50px;}
    50%{top:180px;left: 50%;border-radius: 50%;height: 50px;width: 50px;}
    60%{top:250px;left: 40%;border-radius: 50%;height: 50px;width: 50px;}
    70%{top:220px;left: 30%;border-radius: 50%;height: 50px;width: 50px;}
    80%{top:250px;left: 20%;border-radius: 50%;height: 50px;width: 50px;}
    90%{left: 10%;border-radius: 25%;height: 100px;width: 50%;}*/
    100%{left: 65%;}
}
.welcomePageMainHeadingBottom{
    font-family: 'Merriweather', serif;
    color: transparent;
    font-weight: 900;
    text-align: left;
    padding: 20px 10px;
    font-size: 3vw !important;
    background: linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
        background-clip: text;
    -webkit-background: -webkit-linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
    position: absolute;
    display: block;
    top: 490px !important;
    left: 100%;
    min-height: 100px;
    /*width: 100%;*/
    word-wrap: break-word;
    /*height: 50px;*/
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: welcomeHeadingBottom;
    animation-fill-mode: forwards;
    animation-delay: 13s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    font-size: 24px !important;
    border-bottom:1px solid red;
    border-radius: 100%;

}

@keyframes welcomeHeadingBottom{
    0%{left: 100%;/*border-radius: 50%;height: 50px;width: 50px;*/}
    /*10%{top:130px;left: 90%;border-radius: 50%;height: 50px;width: 50px;}
    20%{top:250px;left: 80%;border-radius: 50%;height: 50px;width: 50px;}
    30%{top:150px;left: 70%;border-radius: 50%;height: 50px;width: 50px;}
    40%{top:250px;left: 60%;border-radius: 50%;height: 50px;width: 50px;}
    50%{top:180px;left: 50%;border-radius: 50%;height: 50px;width: 50px;}
    60%{top:250px;left: 40%;border-radius: 50%;height: 50px;width: 50px;}
    70%{top:220px;left: 30%;border-radius: 50%;height: 50px;width: 50px;}
    80%{top:250px;left: 20%;border-radius: 50%;height: 50px;width: 50px;}
    90%{left: 10%;border-radius: 25%;height: 100px;width: 50%;}*/
    100%{left: 0%;}
}


#welcomePageButtons,#pageLinks{
    position: relative;
}

#existingUser {
    position: absolute;
    top: 100px;
    left: -37.5%;
    transition: left 3s ease;
    width: 50%;
}

#welcomePortfolio{
    position: absolute;
    top: 100px;
    right: 0px;
    /*transition: left 3s ease;*/
    width: 10%;   
}

#existingUser:hover{
    left:0px;
}

#existingUser span{
    font-size: 1.5vw;
    color: #f4a950;
    background-color: #161b21;
    display: inline-block;
    padding: 10px;
    border-radius: 0px 20px 0px 0px;
    width: 100%;
}

#welcomePortfolio a {
    font-size: 1.5vw;
    background-color: #f4a950;
    color: #161b21;
    display: inline-block;
    padding: 10px;
    border-radius: 20px 0px 0px 0px;
    width: 100%;
    text-decoration: none;
}


#existingUser button{
    font-size: 1.5vw;
    color:#f4a950;
    background-color:#161b21;
    display: inline-block;
    padding: 10px;
    border-radius: 20px 0px 0px 0px;
}

#welcomeLoginShow{
    float:left;
    width: 25%;
}
#welcomeLoginForm{
    float: left;
    padding: 10px;
    background-color: #f4a950;
    color: #161b21;
    width: 75%;
}   

#welcomeLoginForm input[type="submit"]{
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    width: 30%;
    margin: 5px 0px 0px 30%;
    background-color: #161b21;
    color: #f4a950;
    font-size: 18px;
}


#welcomeLoginForm input[type="text"],input[type="password"] {
    line-height: 2;
    border-radius: 20px;
    margin: 5px;
    width: 90%;
    border: 1px solid #a6e3f8;
}
