@media only screen and (max-width: 600px){

	body{
		background-image: url('../images/bg_image3.jpg');
		background-size: 100% 100%;
		min-height: 100vh;
	}

	#myVideo {
	  display: none;
	}
	
	#existingUser span {
	    font-size: 20px;
	    color: #f4a950;
	    background-color: #161b21;
	    display: inline-block;
	    padding: 8.4px 8px;
	    border-radius: 0px 20px 0px 0px;
	    width: 100%;
	    text-align: center;
	}

	#welcomeLoginForm {
	    float: left;
	    padding: 10px;
	    background-color: #f4a950;
	    color: #161b21;
	    width: 60%;
	}

	#welcomeLoginForm input[type="submit"] {
	    padding: 5px;
	    display: inline-block;
	    border-radius: 20px;
	    width: 50%;
	    margin: 5px 0px 0px 25%;
	    background-color: #161b21;
	    color: #f4a950;
	    font-size: 18px;
	}

	#welcomePortfolio{
		position: absolute;
		top: 0px;
		right: 0px;
		transition: left 3s ease;
		width: 25%;
	}

	#welcomePortfolio a {
	    font-size: 20px;
	    background-color: #f4a950;
	    color: #161b21;
	    display: inline-block;
	    padding: 10px;
	    border-radius: 20px 0px 0px 0px;
	    width: 100%;
	    padding: 8.4px 8px;
	}

	.welcomePageMainHeadingleft {
	    color: transparent;
	    font-weight: 900;
	    text-align: center;
	    padding: 20px 10px;
	    font-size: 40px !important;
	    position: absolute;
	    display: inline-block;
	    top: 420px !important;
	    left: 40% !important;
	    height: 200px;
	    color: chartreuse;
	    font-family: cursive;
	}

	.welcomePageMainHeadingRight {
	    font-family: 'Merriweather', serif;
	    color: transparent;
	    font-weight: 900;
	    text-align: center;
	    padding: 25px 10px;
	    font-size: 3vw !important;
	    position: absolute;
	    display: block;
	    top: 475px !important;
	    left: 0% !important;
	    min-height: 60px;
	    width: 100%;
	    word-wrap: break-word;
	    font-size: 34px !important;
	    color: gold;

	}

	.welcomePageMainHeadingBottom {
		opacity: 0;

		position: absolute;

		top: 550px !important;

		right: 0%;

		border-bottom: 1px solid red;

		border-radius: 100%;

		box-shadow: -10px 11px 15px black;

		padding: 5px;

		transform: rotate(-5deg);

		width: 100%;

		height: 80px;

		text-align: center;

		animation-name: welcomePageMainHeadingBottom;

		animation-delay: 1s;

		animation-duration: 3s;

		animation-fill-mode: forwards;

		background-color: rgba(255,255,255,0.2);
	}

	@keyframes welcomePageMainHeadingBottom{
	    0%{opacity:0;}
	    100%{opacity:1;}
	}

	#hih2 {

	    text-align: center !important;
	    color: #148eb6;
	    position: absolute;
	    display: inline-block !important;
	    width: 75px;
	    padding: 10px;
	    top: 70px;
	    font-size: xx-large;
	    font-family: cursive;
	    height: 75px;
	    border-radius: 50% !important;
	    border: 1px solid azure;
	    background: ivory;
	    box-shadow: 6px -2px 5px bisque;
	    right: 55px;

	}
	#existingUser {
	    position: absolute;
	    top: 0px;
	    left: -60%;
	    transition: left 3s ease;
	    width: 100%;
	    z-index: 1;
	}

	#welcomeLoginShow {
	    float: left;
	    width: 40%;
	}

	.fonteo-letter{
		color: #fff !important;
	}

}

@media only screen and (max-width: 381px){
	.fonteo-letter {
	    color: #fff !important;
	    font-size: 32px !important;

	}
}

@media only screen and (min-width: 601px) and (max-width: 752px){
	#myVideo {
	  position: fixed;
	  width: 50%; 
	  /*height: 100%;*/
	}
	#hih2{
		display: none;
	}

	#existingUser {
	    position: absolute;
	    top: 0px;
	    left: -75%;
	    transition: left 3s ease;
	    width: 100%;
	    z-index: 1;
	}

	#welcomePortfolio {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    transition: left 3s ease;
	    width: 30%;
	}

	#existingUser span {
	    font-size: 3vw;
	    color: #f4a950;
	    background-color: #161b21;
	    display: inline-block;
	    padding: 10px;
	    border-radius: 0px 20px 0px 0px;
	    width: 100%;
	    text-align: center;
	}

	#welcomePortfolio a {
	    font-size: 3vw;
	    background-color: #f4a950;
	    color: #161b21;
	    display: inline-block;
	    padding: 10px;
	    border-radius: 20px 0px 0px 0px;
	    width: 100%;
	    text-decoration: none;
	    text-align: center;
	}
	.welcomePageMainHeadingleft {
	    font-family: 'Run Wild - Demo';
	    color: transparent;
	    font-weight: 900;
	    text-align: center;
	    padding: 20px 2px;
	    font-size: 3.7vw !important;
	    background: linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
	        background-clip: border-box;
	    -webkit-background: -webkit-linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
	    position: absolute;
	    display: inline-block;
	    top: 295px !important;
	    left: 100%;
	    height: 100px;
	    background-clip: text;
	    -webkit-background-clip: text;
	    animation-name: welcomeHeadingLeft;
	    animation-fill-mode: forwards;
	    animation-delay: 1s;
	    animation-duration: 2s;
	    animation-timing-function: ease-in-out;
	}

	.welcomePageMainHeadingRight {
	    font-family: 'Merriweather', serif;
	    color: transparent;
	    font-weight: 900;
	    text-align: center;
	    padding: 20px 10px;
	    font-size: 3vw !important;
	    background: linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
	        background-clip: border-box;
	    background-clip: border-box;
	    -webkit-background: -webkit-linear-gradient(to right bottom,#e14c7f 39%,#f2e314 43%,#6df244 59%);
	    position: absolute;
	    display: block;
	    top: 215px !important;
	    left: 100%;
	    min-height: 100px;
	    width: 30px;
	    word-wrap: break-word;
	    background-clip: text;
	    -webkit-background-clip: text;
	    animation-name: welcomeHeadingRight;
	    animation-fill-mode: forwards;
	    animation-delay: 3s;
	    animation-duration: 3s;
	    animation-timing-function: ease-in-out;
	    font-size: 2.5vw !important;
	}

	@keyframes welcomeHeadingRight{
		0% {
	    	left: 100%;
		}
		100% {
		    left: 50%;
		}	
	}

	.fonteo-letter {
	    font-size: 4vw !important;
	}
}	

@media only screen and (min-width: 753px) and (max-width: 800px){
	#myVideo {
	  position: fixed;
	  width: 50%; 
	  /*height: 100%;*/
	}	
	#hih2{
		display: none;
	}
	#existingUser {
	    position: absolute;
	    top: 0px;
	    left: -75%;
	    transition: left 3s ease;
	    width: 100%;
	}
	#existingUser span {
	    font-size: 2.5vw;
	    color: #f4a950;
	    background-color: #161b21;
	    display: inline-block;
	    padding: 10px;
	    border-radius: 0px 20px 0px 0px;
	    width: 100%;
	    text-align: center;
	}

	#welcomePortfolio {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    transition: left 3s ease;
	    width: 10%;
	}
}